

.article-cont {
    width: 96%;
    margin-left: 2%;
}

.article-meta {
    color: #555555;
}

img {
    max-width: 100%;
}

/*
blockquote {
    position: relative;
    background-color: #bdc3c7;
    max-width: fit-content;
    padding: 6px 15px 6px 15px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 0.9em;
}

blockquote::before {
    content: " ";
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #1abc9c;
}

code {
    background-color: #e2e8ec;
    color: #e74c3c;
    padding: 0px 3px 0px 3px;
    border-radius: 2px;
}
*/



code {
    position: relative;

    background-color: #F0F0F0;
    padding: 6px 15px 6px 15px;
    font-size: 0.9em;
}

code.para::before {
    content: " " !important;
    position: absolute !important;
    width: 2px !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    background-color: #1abc9c !important;
}

code:not(.para) {
    color: #e74c3c !important;
}