{% extends "base.html" %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ SITEURL }}/theme/css/index.css" />
{% endblock %}

{% block content %}
<p class="title-text">
    <span class="name-text">Akash Mishra</span>
    <br/>
    <span class="one-liner-text">Grad student at IIT-Kanpur</span>
    <br/><br/>
    <p  style="text-align: center;">
        <a href="https://github.com/akashcodes">Github</a>
        &nbsp;|
        <a href="https://linkedin.com/in/mishraakash">LinkedIn</a>
        &nbsp;|
        <a href="https://twitter.com/psy8org">Twitter</a>
    </p>
    <br/><br/>
    <p class="para-text para-1-text">
            Hi! I am set to join IIT-Kanpur for M.Tech in Computer Science with a specialization in Machine Learning.
            I'm also interested in Reinforcement Learning and am currently taking courses on it. I spend the major portion of my time trying
            to get my head around the goofy maths behind various Machine Learning algorithms.
            <br/><br/>
            I'm also a web developer with a good command in Javascript, and Django framework. I like to travel new places,
            and I'm currently <b>looking for some
            freelance work</b> to cover my expenses, so let me know if you need something.
            <br/><br/>
            In my spare time , I love to watch animes and play Rocket League [let's play a game sometime ;)].
            <br/><br/>
            You can reach me at: <b>akashdotcodes [at] gmail [dot] com</b>
            <br/><br/>
            <b>Checkout my CV <a href="#">here</a></b>.
            <br/><br/>
    </p>
</p>
{% endblock %}